@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("PT Sans"), url("../fonts/ptsans.woff2"), url("../fonts/ptsans.woff"); }

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("PT Sans"), url("../fonts/ptsansbold.woff2"), url("../fonts/ptsansbold.woff"); }

a {
  font-family: inherit;
  color: inherit;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.text-no-wrap {
  white-space: nowrap; }

.text-wrap {
  display: none; }
  @media (min-width: 1200px) {
    .text-wrap {
      display: block; } }

.page {
  height: 100%;
  min-width: 320px;
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  background-color: #f2f2f2; }

.page__body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0 auto;
  background-color: #ffffff; }
  @media (min-width: 1200px) {
    .page__body {
      max-width: 1200px; } }

.button {
  padding: 0;
  font-family: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer; }

.page-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 56px;
  grid-row: 1;
  grid-column: 1 / -1; }
  @media (min-width: 768px) {
    .page-header {
      grid-template-rows: 56px; } }

.page-header__toggle {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  padding: 28px;
  z-index: 5; }
  @media (min-width: 768px) {
    .page-header__toggle {
      display: none; } }
  .page-header__toggle::before {
    content: "";
    position: absolute;
    top: 17px;
    right: 20px;
    width: 23px;
    height: 4px;
    background-color: #81b3d2;
    box-shadow: 0 9px 0 0 #81b3d2, 0 18px 0 0 #81b3d2; }

.page-header__toggle--opened::after,
.page-header__toggle--opened::before {
  content: "";
  position: absolute;
  top: 26px;
  right: 17px;
  width: 28px;
  height: 4px;
  box-shadow: none;
  background-color: #ffffff;
  border-radius: 1px; }

.page-header__toggle--opened::before {
  transform: rotate(45deg); }

.page-header__toggle--opened::after {
  transform: rotate(-45deg); }

.page-header__logo {
  grid-row: 2;
  grid-column: 1/-1;
  justify-self: center;
  align-self: start;
  z-index: 1; }
  @media (min-width: 768px) {
    .page-header__logo {
      grid-row: 1;
      grid-column: 1 / -1; } }
  @media (min-width: 1200px) {
    .page-header__logo {
      width: 187px; } }

.page-header__logo-image {
  width: 100%; }

.page-header--nojs .page-header__toggle {
  display: none; }

.page-header--nojs .main-nav--closed {
  display: block; }

.site-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.site-list__item {
  position: relative; }
  @media (max-width: 767px) {
    .site-list__item {
      background-color: #81b3d2;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      border-bottom: 1px solid rgba(1, 1, 1, 0.2); } }
  .site-list__item:last-child {
    border-bottom: none; }
  @media (max-width: 767px) {
    .site-list__item:last-child::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 7px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%); } }
  @media (min-width: 768px) {
    .site-list__item:nth-child(3) {
      grid-column: 4; } }
  .site-list__item:hover .site-list__link {
    color: #81b3d2; }
    @media (max-width: 767px) {
      .site-list__item:hover .site-list__link {
        background-color: #669ec0; } }
  @media (max-width: 767px) {
    .site-list__item--active {
      background-color: #5496bd; } }
  .site-list__item--active .site-list__link {
    color: #766357; }
  .site-list__item--active:hover .site-list__link {
    color: #766357; }
    @media (min-width: 768px) {
      .site-list__item--active:hover .site-list__link {
        color: #604e43;
        background-color: transparent; } }
  .site-list__item:active .site-list__link {
    color: rgba(0, 0, 0, 0.3); }
    @media (max-width: 767px) {
      .site-list__item:active .site-list__link {
        background-color: #5496bd; } }

.site-list__link {
  display: flex;
  height: 54px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 2.22;
  text-transform: uppercase;
  color: #ffffff; }
  @media (min-width: 768px) {
    .site-list__link {
      height: 56px;
      font-size: 14px;
      line-height: 1.86;
      color: #000000; } }

.main-nav {
  grid-row: 1;
  grid-column: 1 / -1; }
  @media (max-width: 767px) {
    .main-nav--closed {
      display: none; } }

@media (min-width: 768px) {
  .main-nav__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); } }

.hero {
  position: relative;
  height: 389px;
  background-color: #81b3d2; }
  @media (min-width: 768px) {
    .hero {
      height: 518px; } }
  .hero--small {
    height: 158px; }
    @media (min-width: 768px) {
      .hero--small {
        height: 290px; } }
    @media (min-width: 1200px) {
      .hero--small {
        height: 301px; } }
  .hero::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 57px;
    width: 100%;
    background-image: url("../img/intro-triangle.svg");
    background-repeat: no-repeat;
    background-size: 100% 57px; }
    @media (min-width: 768px) {
      .hero::before {
        background-image: url("../img/intro-triangle-tablet.svg"); } }
    @media (min-width: 1200px) {
      .hero::before {
        background-image: url("../img/intro-triangle-desktop.svg"); } }

.hero__background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%; }
  .hero__background--bottom {
    object-position: bottom; }

.hero__background-text {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto; }
  .hero__background-text--large {
    top: 90px; }
    @media (min-width: 768px) {
      .hero__background-text--large {
        top: 77px;
        width: 460px;
        height: 350px; } }
  .hero__background-text--small {
    top: 52px; }
    @media (min-width: 768px) {
      .hero__background-text--small {
        top: 95px;
        width: 457px;
        height: 78px; } }
    @media (min-width: 1200px) {
      .hero__background-text--small {
        top: 101px;
        width: 460px;
        height: 80px; } }

.hero__triangle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  width: 100%; }

.text-info {
  text-align: center; }

.text-info__title {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase; }

.text-info__description {
  margin: 0;
  color: #333333;
  text-transform: uppercase; }

.socials-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.socials-list__item {
  margin: 0 3px; }

.socials-list__link {
  position: relative;
  display: block;
  width: 46px;
  height: 48px;
  background: #81b3d2; }
  .socials-list__link:hover {
    background-color: #669ec0; }
  .socials-list__link:active {
    background-color: #5496bd; }
  .socials-list__link:active .socials-list__icon {
    fill: rgba(255, 255, 255, 0.3); }

.socials-list__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #ffffff; }

.page-footer {
  padding: 20px;
  align-items: center;
  text-align: center; }
  @media (min-width: 768px) {
    .page-footer {
      display: flex;
      justify-content: space-between;
      padding: 36px 60px; } }
  @media (min-width: 1200px) {
    .page-footer {
      padding: 36px 119px; } }

.page-footer__hashtag {
  margin: 0;
  font-weight: bold;
  font-size: 21px;
  line-height: 1.71;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .page-footer__hashtag {
      margin-bottom: 28px; } }

.page-footer__socials-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  @media (max-width: 767px) {
    .page-footer__socials-list {
      margin-bottom: 39px; } }
  @media (min-width: 768px) {
    .page-footer__socials-list {
      padding: 0 20px; } }

.copyright__link {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.86;
  text-transform: uppercase; }
  .copyright__link:hover .copyright__logo {
    fill: #81b3d2; }
  .copyright__link:active .copyright__logo {
    fill: rgba(0, 0, 0, 0.3); }

.copyright__text {
  margin: 0 12px 0 0; }
  @media (min-width: 768px) {
    .copyright__text {
      margin: 0 13px; } }

.copyright__logo {
  fill: #000000; }

.feature-info {
  padding: 31px 25px 13px; }
  @media (min-width: 768px) {
    .feature-info {
      padding: 44px 100px 55px; } }
  @media (min-width: 1200px) {
    .feature-info {
      padding: 56px 100px 43px; } }

.feature-info__title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.5; }
  @media (min-width: 768px) {
    .feature-info__title {
      font-size: 21px;
      line-height: 1.24; } }

.feature-info__description {
  line-height: 1.8; }

.feature-banner {
  background-color: #81b3d2; }
  @media (min-width: 768px) {
    .feature-banner {
      display: grid;
      grid-template-columns: 1fr 2fr; } }
  @media (min-width: 768px) {
    .feature-banner--image-left {
      grid-template-columns: 2fr 1fr; } }

.feature-banner__picture {
  height: 260px;
  background-color: #81b3d2; }
  @media (min-width: 768px) {
    .feature-banner__picture {
      height: 256px; } }
  @media (min-width: 768px) {
    .feature-banner__picture--image-left {
      order: -1; } }

.feature-banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.feature-item {
  padding: 25px 12px;
  text-align: center; }
  @media (min-width: 768px) {
    .feature-item {
      padding: 42px 30px; } }
  @media (min-width: 1200px) {
    .feature-item {
      padding: 42px 33px 62px; } }
  .feature-item--highlight {
    padding: 38px 15px 36px;
    background-color: #81b3d2; }
    @media (min-width: 768px) {
      .feature-item--highlight {
        padding: 42px 30px 24px; } }
    @media (min-width: 1200px) {
      .feature-item--highlight {
        padding: 52px 85px; } }
  .feature-item--decorate {
    position: relative;
    padding: 71px 13px 39px; }
    @media (min-width: 768px) {
      .feature-item--decorate {
        padding: 40px 20px; } }
    @media (min-width: 1200px) {
      .feature-item--decorate {
        padding: 48px 55px; } }
  @media (max-width: 767px) {
    .feature-item--decorate::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 37px;
      width: 100%;
      background-image: url("../img/banner-decorate.svg");
      background-repeat: no-repeat;
      background-size: 100% 37px; } }

.feature-item__title {
  margin: 0 0 12px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .feature-item__title {
      font-size: 21px;
      line-height: 1.24; } }
  .feature-item__title--light-text {
    color: #ffffff; }
  @media (max-width: 767px) {
    .feature-item__title br {
      display: none; } }

.feature-item__number {
  position: relative;
  line-height: 1.5; }
  .feature-item__number::before, .feature-item__number::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 1px;
    top: 3px;
    bottom: 0;
    margin: auto;
    background-color: #333333; }
  .feature-item__number::before {
    left: -13px; }
  .feature-item__number::after {
    right: -13px; }
  .feature-item__number--light-text {
    color: #ffffff; }
  .feature-item__number--light-text::before, .feature-item__number--light-text::after {
    background-color: #ffffff; }

.feature-item__description {
  margin: 17px 0 0;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .feature-item__description {
      margin-top: 24px; } }
  .feature-item__description--light-text {
    color: #ffffff; }
  @media (max-width: 767px) {
    .feature-item__description br {
      display: none; } }

.advantages__list {
  display: grid;
  padding: 27px 20px 35px;
  gap: 18px; }
  @media (min-width: 768px) {
    .advantages__list {
      grid-template-columns: repeat(3, 1fr);
      gap: 50px 0;
      padding: 54px 0 60px; } }
  @media (min-width: 1200px) {
    .advantages__list {
      padding: 36px 0 61px; } }

.advantages__item {
  display: grid;
  grid-template-columns: 40px auto;
  gap: 10px;
  align-items: center; }
  @media (min-width: 768px) {
    .advantages__item {
      grid-template-columns: auto;
      grid-template-rows: 78px max-content max-content;
      gap: 23px;
      padding: 0 32px;
      justify-items: center;
      align-items: start; } }
  @media (min-width: 1200px) {
    .advantages__item {
      grid-template-rows: 75px max-content max-content;
      padding: 20px 46px; } }
  @media (min-width: 768px) {
    .advantages__item--souvenirs {
      order: 1; } }

.advantages__icon {
  width: 40px;
  height: 40px;
  fill: #81b3d2; }
  @media (min-width: 768px) {
    .advantages__icon {
      width: 78px;
      height: 78px; } }

.advantages__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.44;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .advantages__title {
      font-size: 21px; } }

.advantages__description {
  margin: 0;
  grid-column: 2;
  line-height: 1.5;
  color: #333333;
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .advantages__description br {
      display: none; } }
  @media (min-width: 768px) {
    .advantages__description {
      grid-column: 1;
      text-align: center; } }

.features__list {
  display: grid;
  padding: 0 20px;
  background-color: #eeeeee; }
  @media (min-width: 768px) {
    .features__list {
      grid-template-columns: repeat(3, 1fr);
      padding: 0; } }
  .features__list .feature-item:not(:last-child) {
    border-bottom: 1px solid #d6d6d6; }
    @media (min-width: 768px) {
      .features__list .feature-item:not(:last-child) {
        border-bottom: none; } }

.search-hotel__wrapper {
  padding: 33px 20px 50px;
  text-align: center; }
  @media (min-width: 768px) {
    .search-hotel__wrapper {
      padding: 55px 155px 60px; } }
  @media (min-width: 1200px) {
    .search-hotel__wrapper {
      padding: 57px 155px 67px; } }

.search-hotel__title {
  margin: 0 0 22px;
  font-weight: bold;
  font-size: 21px;
  line-height: 1.2;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .search-hotel__title {
      margin-bottom: 33px;
      font-size: 30px;
      line-height: 0.87; } }

.search-hotel__description {
  margin: 0 0 28px;
  line-height: 1.72;
  color: #333333;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .search-hotel__description {
      margin-bottom: 39px;
      line-height: 1.75; } }
  @media (min-width: 1200px) {
    .search-hotel__description {
      margin-bottom: 44px; } }
  @media (max-width: 767px) {
    .search-hotel__description br {
      display: none; } }

.search-hotel__button {
  display: block;
  margin: 0 auto;
  padding: 15px 32px 16px;
  max-width: 460px;
  width: 100%;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.24;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase;
  box-sizing: border-box; }
  .search-hotel__button:hover {
    background-color: #669ec0; }
  .search-hotel__button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd; }

.search-hotel__map {
  position: relative;
  height: 350px; }
  @media (max-width: 767px) {
    .search-hotel__map {
      margin-bottom: 15px; } }
  .search-hotel__map iframe {
    position: relative;
    z-index: 2; }

.search-hotel__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

@media (min-width: 768px) {
  .reviews {
    max-width: calc(100% - 120px);
    margin: 0 auto; } }

@media (min-width: 1200px) {
  .reviews {
    max-width: calc(100% - 240px); } }

.reviews__info {
  padding: 35px 20px 17px;
  border-bottom: 1px solid #e5e5e5; }
  @media (min-width: 768px) {
    .reviews__info {
      padding: 62px 40px 67px;
      border-bottom: none; } }
  @media (min-width: 1200px) {
    .reviews__info {
      padding: 111px 40px 40px; } }
  @media (max-width: 767px) {
    .reviews__info br {
      display: none; } }

.reviews__title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.4; }
  @media (min-width: 768px) {
    .reviews__title {
      margin-bottom: 35px;
      font-size: 30px;
      line-height: 0.87; } }

.reviews__description {
  line-height: 1.75;
  color: #333333; }
  @media (min-width: 768px) {
    .reviews__description {
      line-height: 1.71; } }

@media (min-width: 768px) {
  .reviews__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

@media (min-width: 1200px) {
  .reviews__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

.reviews__fieldset {
  margin: 0;
  border: none;
  padding: 0; }
  @media (max-width: 767px) {
    .reviews__fieldset:not(:last-of-type) {
      border-bottom: 1px solid #e5e5e5; } }
  @media (max-width: 767px) {
    .reviews__fieldset {
      padding: 0 20px; } }
  @media (min-width: 768px) {
    .reviews__fieldset--impression {
      order: -1;
      margin-bottom: 50px;
      padding-right: 50px; } }
  @media (min-width: 1200px) {
    .reviews__fieldset--impression {
      padding-left: 4px; } }
  @media (min-width: 768px) {
    .reviews__fieldset--username {
      margin-bottom: 50px;
      padding-left: 56px;
      border-left: 1px solid #d6d6d6; } }
  @media (min-width: 1200px) {
    .reviews__fieldset--username {
      padding-left: 80px; } }
  @media (min-width: 768px) {
    .reviews__fieldset--horizontal {
      position: relative;
      grid-column: 1 / -1; } }
  @media (min-width: 768px) {
    .reviews__fieldset--horizontal::before, .reviews__fieldset--horizontal::after {
      content: "";
      position: absolute;
      top: 30px;
      width: 124px;
      height: 1px;
      background-color: #d6d6d6; } }
  @media (min-width: 1200px) {
    .reviews__fieldset--horizontal::before, .reviews__fieldset--horizontal::after {
      width: 280px; } }
  @media (min-width: 768px) {
    .reviews__fieldset--horizontal::after {
      right: 0; } }
  @media (min-width: 768px) {
    .reviews__fieldset--checklist {
      position: relative;
      grid-column: 1 / -1;
      margin-bottom: 20px; } }
  @media (min-width: 768px) {
    .reviews__fieldset--checklist::before, .reviews__fieldset--checklist::after {
      content: "";
      position: absolute;
      width: 124px;
      height: 1px;
      top: 45px;
      background-color: #d6d6d6; } }
  @media (min-width: 1200px) {
    .reviews__fieldset--checklist::before, .reviews__fieldset--checklist::after {
      width: 280px; } }
  @media (min-width: 768px) {
    .reviews__fieldset--checklist::after {
      right: 0; } }

.reviews__fields-list {
  display: grid;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (max-width: 767px) {
    .reviews__fields-list {
      padding: 20px 0 26px; } }
  .reviews__fields-list--contacts {
    gap: 13px;
    padding: 17px 0 25px; }
    @media (min-width: 768px) {
      .reviews__fields-list--contacts {
        gap: 23px;
        padding: 70px 0 30px; } }
    @media (min-width: 1200px) {
      .reviews__fields-list--contacts {
        grid-template-columns: 1fr 1fr;
        gap: 20px 0;
        padding: 120px 0 30px; } }
  @media (min-width: 768px) {
    .reviews__fields-list--username {
      padding: 54px 0 0; } }
  .reviews__fields-list--radiobutton {
    gap: 14px;
    padding: 21px 0 26px; }
    @media (min-width: 768px) {
      .reviews__fields-list--radiobutton {
        gap: 23px;
        padding: 55px 0 0; } }
  .reviews__fields-list--checklist {
    gap: 24px;
    padding: 21px 0 25px; }
    @media (min-width: 768px) {
      .reviews__fields-list--checklist {
        grid-template-columns: repeat(2, minmax(180px, max-content));
        gap: 32px 68px;
        padding: 114px 0 30px;
        justify-content: center; } }
    @media (min-width: 1200px) {
      .reviews__fields-list--checklist {
        gap: 30px;
        grid-template-columns: repeat(4, auto);
        justify-content: space-between; } }

.reviews__field {
  display: grid;
  align-items: center; }
  .reviews__field--username {
    grid-template-columns: min-content auto;
    gap: 15px; }
  .reviews__field--contacts {
    gap: 8px; }
    @media (min-width: 1200px) {
      .reviews__field--contacts {
        grid-template-columns: min-content auto;
        gap: 16px; } }
  @media (min-width: 1200px) {
    .reviews__field--contacts:nth-child(odd) {
      margin-right: 80px; } }

.reviews__textarea-field {
  padding-top: 15px; }
  @media (min-width: 768px) {
    .reviews__textarea-field {
      padding-top: 105px; } }

.reviews__legend {
  width: 100%;
  padding: 20px 0 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center; }
  @media (min-width: 768px) {
    .reviews__legend {
      font-size: 21px;
      line-height: 1.24; } }
  @media (max-width: 767px) {
    .reviews__legend--checklist {
      padding: 16px 0 0; } }
  @media (min-width: 768px) {
    .reviews__legend--left {
      text-align: left; } }
  @media (min-width: 768px) {
    .reviews__legend--decorate {
      position: absolute; } }

.reviews__data-processing {
  grid-column: 1 / -1;
  padding: 53px 20px 39px; }
  @media (min-width: 768px) {
    .reviews__data-processing {
      display: flex;
      padding: 55px 0 60px;
      align-items: baseline;
      justify-content: space-between; } }
  @media (min-width: 1200px) {
    .reviews__data-processing {
      padding: 53px 0 66px; } }

.reviews__button {
  padding: 18px 10px 14px;
  width: 100%;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.24;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase; }
  .reviews__button:hover {
    background-color: #669ec0; }
  .reviews__button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd; }
  .reviews__button:disabled {
    background-color: #e5e5e5;
    cursor: default; }
  @media (min-width: 768px) {
    .reviews__button {
      width: 50%;
      padding: 18px 60px 14px 50px; } }
  @media (min-width: 1200px) {
    .reviews__button {
      padding: 18px 60px 14px; } }

.reviews__notice {
  text-transform: uppercase; }
  @media (max-width: 767px) {
    .reviews__notice {
      visibility: hidden; } }

.field__group {
  position: relative;
  padding-right: 58px;
  box-sizing: border-box; }
  @media (min-width: 1200px) {
    .field__group {
      width: 100%; } }

.field__label {
  line-height: 1.86;
  text-transform: uppercase;
  color: #333333; }
  .field__label--contacts {
    padding-left: 22px; }
    @media (min-width: 1200px) {
      .field__label--contacts {
        padding-left: 0; } }

@media (min-width: 1200px) {
  .field__label-hidden {
    display: none; } }

.field__input {
  width: 100%;
  padding: 13px 18px 12px;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.4;
  background-color: #f2f2f2;
  border: 4px solid #f2f2f2;
  box-sizing: border-box; }
  .field__input:hover {
    background-color: #e5e5e5;
    border: 4px solid #e5e5e5; }
  .field__input:active, .field__input:focus {
    background-color: transparent;
    border: 4px solid #e5e5e5;
    outline: none; }

.field__icon::after {
  content: "";
  position: absolute;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #e5e5e5;
  background-repeat: no-repeat;
  background-position: 50%; }

.field__icon--phone::after {
  background-image: url("../img/icon-phone.svg"); }

.field__icon--email::after {
  background-image: url("../img/icon-mail.svg"); }

.checkbox-field__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }
  .checkbox-field__input:checked + .checkbox-field__label::after {
    content: "";
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 12px;
    border-left: 3px solid #333333;
    border-bottom: 3px solid #333333;
    transform: rotate(-45deg);
    box-sizing: border-box; }
  .checkbox-field__input:checked + .checkbox-field__label:active::after {
    border-color: #a4a4a4; }
  .checkbox-field__input:disabled + .checkbox-field__label {
    cursor: default; }
  .checkbox-field__input:disabled + .checkbox-field__label::before {
    background-color: #d5d5d5; }
  .checkbox-field__input:focus + .checkbox-field__label {
    outline: 1px auto; }

.checkbox-field__label {
  position: relative;
  display: flex;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.86;
  align-items: center;
  cursor: pointer; }
  .checkbox-field__label::before {
    content: "";
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    margin-right: 22px;
    background-color: #f2f2f2;
    border-radius: 5px; }
    @media (min-width: 768px) {
      .checkbox-field__label::before {
        margin-right: 25px; } }
  .checkbox-field__label:hover::before {
    background-color: #e5e5e5; }
  .checkbox-field__label:active::before {
    background-color: #d5d5d5; }

.radio-field__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }
  .radio-field__input:checked + .radio-field__label::after {
    content: "";
    position: absolute;
    left: 18px;
    top: 0;
    bottom: 0;
    width: 21px;
    height: 21px;
    margin: auto;
    border-radius: 50%;
    background-color: #333333; }
  .radio-field__input:checked + .radio-field__label:active::after {
    background-color: #a4a4a4; }
  .radio-field__input:disabled + .radio-field__label {
    cursor: default; }
  .radio-field__input:disabled + .radio-field__label::before {
    background-color: #d5d5d5; }
  .radio-field__input:focus + .radio-field__label {
    outline: 1px auto; }

.radio-field__label {
  position: relative;
  display: flex;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.86;
  align-items: center;
  cursor: pointer; }
  .radio-field__label::before {
    content: "";
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    margin-right: 22px;
    background-color: #f2f2f2;
    border-radius: 50%; }
    @media (min-width: 768px) {
      .radio-field__label::before {
        margin-right: 19px; } }
  .radio-field__label:hover::before {
    background-color: #e5e5e5; }
  .radio-field__label:active::before {
    background-color: #d5d5d5; }

.popup-reviews {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  margin: 0 auto;
  transform: translateY(-50%);
  background-color: #ffffff;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  z-index: 2; }
  .popup-reviews--error {
    max-width: 400px; }
  .popup-reviews--success {
    max-width: 640px; }

.popup-reviews__title {
  margin: 0;
  padding-top: 40px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .popup-reviews__title {
      padding-top: 50px;
      font-size: 30px;
      line-height: 40px; } }
  @media (max-width: 767px) {
    .popup-reviews__title br {
      display: none; } }

.popup-reviews__description {
  margin: 0;
  padding: 30px 41px 24px;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .popup-reviews__description {
      padding: 26px 41px 37px; } }

.popup-reviews__button-wrapper--success {
  margin-top: 17px;
  padding: 20px;
  background-color: #f2f2f2; }
  @media (min-width: 768px) {
    .popup-reviews__button-wrapper--success {
      margin-top: 10px;
      padding: 44px 92px; } }
  @media (min-width: 1200px) {
    .popup-reviews__button-wrapper--success {
      margin-top: 6px; } }

.popup-reviews__button-wrapper--error {
  padding: 0 70px 36px; }
  @media (min-width: 768px) {
    .popup-reviews__button-wrapper--error {
      padding: 0 65px 49px; } }

.popup-reviews__button {
  width: 100%;
  padding: 18px 10px 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.44;
  color: #ffffff;
  background-color: #81b3d2;
  text-transform: uppercase; }
  @media (min-width: 768px) {
    .popup-reviews__button {
      font-size: 21px;
      line-height: 1.24; } }
  .popup-reviews__button:hover {
    background-color: #669ec0; }
  .popup-reviews__button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd; }
  .popup-reviews__button:disabled {
    background-color: #e5e5e5;
    cursor: default; }

@media (min-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 60px; } }

@media (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    padding: 0; } }

.gallery__info {
  padding: 33px 15px; }
  @media (max-width: 767px) {
    .gallery__info {
      border-bottom: 1px solid #e5e5e5; } }
  @media (min-width: 768px) {
    .gallery__info {
      grid-column: 1 / -1;
      padding: 61px 100px 78px; } }
  @media (min-width: 1200px) {
    .gallery__info {
      padding: 101px 100px 80px; } }

.gallery__title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.4; }
  @media (min-width: 768px) {
    .gallery__title {
      margin-bottom: 37px;
      font-size: 30px;
      line-height: 0.87; } }
  @media (min-width: 1200px) {
    .gallery__title {
      margin-bottom: 34px; } }

.gallery__description {
  font-size: 14px;
  line-height: 23px; }
  @media (max-width: 767px) {
    .gallery__description br {
      display: none; } }

.gallery__item {
  margin: 0;
  background-color: #f2f2f2; }
  @media (max-width: 767px) {
    .gallery__item {
      padding: 23px 20px 22px;
      border-bottom: 1px solid #e5e5e5; } }
  @media (min-width: 1200px) {
    .gallery__item {
      position: relative; } }
  @media (min-width: 768px) {
    .gallery__item--wide {
      grid-column: 1 / -1; } }

.card-gallery__link {
  position: relative;
  display: block;
  min-height: 280px;
  padding-bottom: 56%;
  background-color: #fae2cb;
  box-sizing: border-box; }
  @media (min-width: 768px) {
    .card-gallery__link {
      min-height: 267px;
      padding-bottom: 80%; } }
  @media (min-width: 1200px) {
    .card-gallery__link {
      padding-bottom: 66.75%; } }
  @media (min-width: 768px) {
    .card-gallery__link--wide {
      padding-bottom: 61.73%; } }
  @media (min-width: 1200px) {
    .card-gallery__link--wide {
      padding-bottom: 33.33%; } }

.card-gallery__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.card-gallery__info {
  padding-top: 10px; }
  @media (min-width: 768px) {
    .card-gallery__info {
      display: grid;
      padding: 17px 20px;
      background-color: #f2f2f2;
      grid-template-columns: auto minmax(65px, max-content);
      gap: 10px; } }
  @media (min-width: 1200px) {
    .card-gallery__info {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      max-height: 100%;
      background-color: rgba(0, 0, 0, 0.3); } }

@media (max-width: 767px) {
  .card-gallery__wrapper {
    margin-bottom: 10px; } }

.card-gallery__title {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase; }
  @media (min-width: 1200px) {
    .card-gallery__title {
      color: #ffffff; } }

.card-gallery__author {
  margin: 0;
  font-size: 14px;
  line-height: 23px;
  color: #333333; }
  @media (min-width: 1200px) {
    .card-gallery__author {
      color: #ffffff; } }

.card-gallery__button {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  text-align: left;
  cursor: pointer; }
  @media (min-width: 1200px) {
    .card-gallery__button {
      color: #ffffff; } }
  .card-gallery__button:hover {
    opacity: 0.6; }

.card-gallery__icon {
  margin-right: 10px;
  fill: rgba(0, 0, 0, 0.3); }
  @media (min-width: 768px) {
    .card-gallery__icon {
      margin-right: 6px; } }
  @media (min-width: 1200px) {
    .card-gallery__icon {
      fill: #ffffff; } }

.video-presentation {
  padding-bottom: 53px; }
  @media (min-width: 768px) {
    .video-presentation {
      width: calc(100% - 120px);
      margin: 0 auto;
      padding-bottom: 40px; } }
  @media (min-width: 1200px) {
    .video-presentation {
      width: calc(100% - 400px);
      padding-bottom: 86px; } }

.video-presentation__info {
  padding: 30px 30px 36px; }
  @media (min-width: 768px) {
    .video-presentation__info {
      padding: 55px 30px 80px; } }
  @media (min-width: 1200px) {
    .video-presentation__info {
      padding: 60px 30px 77px; } }

.video-presentation__title {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 26px; }
  @media (min-width: 768px) {
    .video-presentation__title {
      margin-bottom: 37px;
      font-size: 30px;
      line-height: 0.87; } }

.video-presentation__description {
  font-size: 14px;
  line-height: 23px; }
  @media (max-width: 767px) {
    .video-presentation__description br {
      display: none; } }

.video-presentation__item {
  position: relative; }

.video__preview {
  position: relative;
  padding-bottom: 62.81%;
  background-color: #fae2cb; }
  @media (min-width: 768px) {
    .video__preview {
      padding-bottom: 77.16%; } }
  @media (min-width: 1200px) {
    .video__preview {
      padding-bottom: 62.5%; } }

.video__preview-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.video__controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 23px;
  background: #f2f2f2; }
  @media (max-width: 767px) {
    .video__controls {
      margin: 0 20px; } }
  @media (min-width: 768px) {
    .video__controls {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 93px;
      padding: 0 35px;
      align-items: center;
      background: rgba(0, 0, 0, 0.6); } }

.video__volume-bar {
  position: absolute;
  top: -46px;
  left: 0;
  right: 0;
  padding: 23px 0;
  background: rgba(0, 0, 0, 0.6); }
  @media (min-width: 768px) {
    .video__volume-bar {
      position: relative;
      width: 100%;
      top: 0;
      margin: 0 15px;
      background-color: transparent; } }
  .video__volume-bar::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25px;
    right: 25px;
    z-index: 1;
    height: 3px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer; }
  .video__volume-bar::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20%;
    z-index: 2;
    width: 9px;
    height: 9px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer; }
    @media (min-width: 768px) {
      .video__volume-bar::after {
        left: 32%; } }
    @media (min-width: 1200px) {
      .video__volume-bar::after {
        left: 23%; } }

.video__button {
  width: 20px;
  height: 20px; }
  .video__button--subtitles {
    width: 32px; }
  .video__button--fullscreen {
    margin: 0 0 0 30px; }
    @media (min-width: 768px) {
      .video__button--fullscreen {
        margin: 0 7px 0 30px; } }

.video__button-group {
  display: flex; }

.video__button-icon {
  fill: #5c6870; }
  @media (min-width: 768px) {
    .video__button-icon {
      fill: #ffffff; } }
  .video__button-icon:hover {
    fill: #333333; }
    @media (min-width: 768px) {
      .video__button-icon:hover {
        fill: rgba(255, 255, 255, 0.6); } }
  .video__button-icon:active {
    fill: rgba(51, 51, 51, 0.3); }
    @media (min-width: 768px) {
      .video__button-icon:active {
        fill: rgba(255, 255, 255, 0.3); } }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }
