.feature-banner {
  background-color: $image-background;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  &--image-left {
    @media (min-width: $tablet-width) {
      grid-template-columns: 2fr 1fr;
    }
  }
}

.feature-banner__picture {
  height: 260px;
  background-color: $image-background;

  @media (min-width: $tablet-width) {
    height: 256px;
  }

  &--image-left {
    @media (min-width: $tablet-width) {
      order: -1;
    }
  }
}

.feature-banner__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
