.gallery {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}

.gallery__info {
  padding: 33px 15px;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $decoration-line;
  }

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    padding: 61px 100px 78px;
  }

  @media (min-width: $desktop-width) {
    padding: 101px 100px 80px;
  }
}

.gallery__title {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 1.4;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
    font-size: 30px;
    line-height: 0.87;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
  }
}

.gallery__description {
  font-size: 14px;
  line-height: 23px;

  br {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }
}

.gallery__item {
  margin: 0;
  background-color: $card-gallery-background-light;

  @media (max-width: $mobile-width-only) {
    padding: 23px 20px 22px;
    border-bottom: 1px solid $decoration-line;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }

  &--wide {
    @media (min-width: $tablet-width) {
      grid-column: 1 / -1;
    }
  }
}
