.video-presentation {
  padding-bottom: 53px;

  @media (min-width: $tablet-width) {
    width: calc(100% - 120px);
    margin: 0 auto;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: calc(100% - 400px);
    padding-bottom: 86px;
  }
}

.video-presentation__info {
  padding: 30px 30px 36px;

  @media (min-width: $tablet-width) {
    padding: 55px 30px 80px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 30px 77px;
  }
}

.video-presentation__title {
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 37px;
    font-size: 30px;
    line-height: 0.87;
  }
}

.video-presentation__description {
  font-size: 14px;
  line-height: 23px;

  br {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }
}


.video-presentation__item {
  position: relative;
}
